# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
Modulo3/JuancaPortfolio/dist
Modulo3/JuancaPortfolio/tmp
Modulo3/JuancaPortfolio/out-tsc
Modulo3/JuancaPortfolio/bazel-out

# Node
Modulo3/JuancaPortfolio/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Modulo3/JuancaPortfolio/.vscode/*
Modulo3/JuancaPortfolio/!.vscode/settings.json
Modulo3/JuancaPortfolio/!.vscode/tasks.json
Modulo3/JuancaPortfolio/!.vscode/launch.json
Modulo3/JuancaPortfolio/!.vscode/extensions.json
.history/*

# Miscellaneous
Modulo3/JuancaPortfolio/.angular/cache
.sass-cache/
Modulo3/JuancaPortfolio/connect.lock
Modulo3/JuancaPortfolio/coverage
Modulo3/JuancaPortfolio/libpeerconnection.log
testem.log
Modulo3/JuancaPortfolio/typings

# System files
.DS_Store
Thumbs.db
