<!--Trabajos-->
<section class="trabajos pt-5 pb-5">
  <div class="container ">
    <h2 class="">Desarrollo Web</h2>
    <div class="row d-flex">
      <div class="col-lg-6 col-md-12 col-12">
        <figure class="figure">
          <img src="/assets/img/InicioPag.png" alt="" class="figure-img img-fluid rounded rounded-5 border-black border border-5">
        </figure>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <p class="seccion-texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fugiat soluta impedit, distinctio iusto illo voluptatem at explicabo error dolore atque fugit deserunt, eos ipsum a. Omnis dolores a corporis quae.
        </p>
      </div>
    </div>
    <h2 class="">Secciones de pagina</h2>
    <div class="row d-flex">
      <div class="col-lg-6 col-md-12 col-12">
        <figure class="figure">
          <img src="/assets/img/portafilioPag.png" alt="" class="figure-img img-fluid rounded rounded-5 border-black border border-5">
        </figure>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <p class="seccion-texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fugiat soluta impedit, distinctio iusto illo voluptatem at explicabo error dolore atque fugit deserunt, eos ipsum a. Omnis dolores a corporis quae.
        </p>
      </div>
    </div>
  </div>
</section>
