<!--Sabias que-->
<section class="sabias-que pt-5 pb-5">
  <div class="container">
    <h2 class="">Sabias que...?</h2>
    <div class="row d-flex">
      <div class="col-lg-6 col-md-12 col-12">
        <figure class="figure">
          <img src="/assets/img/Juanca.png" alt="" class="figure-img img-fluid rounded rounded-5 border-black border border-5">
        </figure>

      </div>
        <div class="col-lg-6 col-md-12 col-12">
        <h3 class="seccion-titulo-h3">Soy desarrollador web</h3>
        <p class="seccion-texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fugiat soluta impedit, distinctio iusto illo voluptatem at explicabo error dolore atque fugit deserunt, eos ipsum a. Omnis dolores a corporis quae.</p>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-lg-4 col-md-12 col-12">
        <h3 class="seccion-titulo-h3">Experiencia</h3>
        <p class="seccion-texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fugiat soluta impedit, distinctio iusto illo voluptatem at explicabo error dolore atque fugit deserunt, eos ipsum a. Omnis dolores a corporis quae.</p>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <h3 class="seccion-titulo-h3">Habilidades</h3>
        <p class="seccion-texto">
          <ul>
            <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit.   Dolores facere in </li>
            <li>Nam sed itaque molestiae velit consectetur eaque </li>
            <li>illum omnis alias incidunt cumque, facilis aspernatur. </li>
            <li>  vitae repudiandae qui minus minima.</li>
          </ul>
              </div>
      <div class="col-lg-4 col-md-12 col-12">
        <figure class="figure">
          <img src="/assets/img/desarrolloweb.jpg" alt="" class="figure-img img-fluid rounded rounded-5 border-black border border-5">
        </figure>
      </div>
    </div>
  </div>
</section>
