h2{
    font-size: 4.5rem;
    font-family: 'Dongle', sans-serif;
}

.navbar{
    background-color: rgb(201 247 247);
}

.sobre-mi, .trabajos{
    background-color: azure;
}

.sabias-que figure{
    width: 20rem;
}

.sabias-que, .contacto{
    background-color: rgb(222, 248, 251);
}