 <!--Sobre mi-->
 <section class="sobre-mi pt-5 pb-5">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <img class="hero-imagen-computadora" src="/assets/img/computadora.svg" alt="Foto de Programación" height="200rem">
        <h2 class="">Hola, Bienvenido al portfolio de Juanca</h2>
        <h1 class="mb-5 mt-5">Desarrollo Web</h1>
        <div>
          <img class="hero-inferior-imagen img-fluid" src="/assets/img/logo_html_color.png" alt="Logo HTML">
          <img class="hero-inferior-imagen img-fluid" src="/assets/img/logo_css_color.png" alt="Logo CSS">
          <img class="hero-inferior-imagen img-fluid" src="/assets/img/logo_javascript_color.png" alt="Logo JS" width="87">
        </div>
      </div>
    </div>
  </div>
</section>
