<!--Contacto-->
<section class="contacto pt-5 pb-5">
  <div class="container">
    <h2 class="">Contactame</h2>
    <div class="row d-flex">
      <div class="col-lg-6 col-md-12 col-12">
        <figure class="figure">
          <img src="/assets/img/contacto.jpg" alt="" class="figure-img img-fluid rounded rounded-5 border-black border border-5">
        </figure>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <p class="seccion-texto">
        <h3>Teléfono</h3> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
        <h3>E-mail</h3> soluta impedit, distinctio iusto illo voluptatem at explicabo error dolore atque fugit deserunt, eos ipsum a. O.
        </div>
    </div>
  </div>
</section>
